.ratings
  display: flex
  gap: 24px
  margin: 32px 10px
  padding: 0px 22px
  width: 100%
  overflow-y: auto 


.rating__table
  width: 100%
  border-collapse: collapse
  .rating__heading
    padding: 28px 0
    border-bottom: 1px solid #1E1E1E
    border-top: 1px solid #1E1E1E
    margin: 0
    &__num
      padding-right: 20px
  .rating__info
    padding: 20px 0
    &__num
      padding-right: 20px
  &_none
    .rating__heading,  .rating__info
      padding: 0
      border: none
      &__num
        width: 5%
        padding-right: 20px

.rating
  position: relative
  background: #101010
  border-radius: 14px
  padding: 16px 20px
  width: 100%
  @media (max-width: 1200px)
    grid-column: 1 / 2
    grid-row: 4 / 5
  &__btn
    position: absolute  
    bottom: 30px
    right: 20px
    color: #fff
    font-family: 'Inter', sans-serif
    font-size: 18px
    padding: 16px 32px
    background: #66F
    border: none
    border-radius: 12px
    transition: 0.15s
    cursor: pointer
    &:hover
      background: #5353E8
  &__firstRow
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 14px
  &__title
    font-size: 24px
    font-weight: 500
  &__secondRow
    display: flex
    align-items: center
    padding: 24px 0
    border-top: 1px solid #1E1E1E
    @media (max-width: 767px)
      justify-content: start
      gap: 85px
  &__heading
    color: #848484
    font-size: 18px
    font-weight: 500
    width: 20%
   
    @media (max-width: 1200px)
      font-size: 15px
    @media (max-width: 767px)
      font-size: 15px
    &__num
      width: 5%
      color: #848484
      font-weight: 500
      font-size: 18px
    &_100
      color: #bdbdbd
      width: 100%
      padding: 10px 0 30px
      font-size: 22px
  &__infoRow
    display: flex
    align-items: center
    padding: 24px 0
    border-top: 1px solid #1E1E1E
    @media (max-width: 767px)
      justify-content: start
      gap: 23px
  &__info
    color: #E0E4E7
    font-size: 18px
    width: 20%
    font-weight: 400
    @media (max-width: 1200px)
      font-size: 14px
    @media (max-width: 767px)
      font-size: 14px
    &__num
      color: #848484
      font-weight: 500
      font-size: 18px
      width: auto
      padding-right: 20px